 <div class="row">
  <p class="pt-5">
    <b>ClusterID:</b> {{ cluster_info.cluster_id }}<br />
    <b>Version:</b> {{ cluster_info.version }}<br />
    <b>Channel:</b> {{ cluster_info.channel }}
  </p>
</div>
